<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" *ngIf="canGoBack">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'secret-create.heading' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class="ion-padding-bottom">{{ 'secret-create.text' | translate }}</p>

  <h4>{{ 'secret-create.generate.label' | translate }}</h4>
  <p class="">{{ 'secret-create.generate.text' | translate }}</p>
  <ion-button color="primary" shape="round" class="ion-margin-bottom" (click)="goToGenerate()">
    <ion-icon slot="start" src="assets/icons/md-edit.svg"></ion-icon>
    {{ 'secret-create.generate.label' | translate }}
  </ion-button>

  <h4>{{ 'secret-create.import.label' | translate }}</h4>
  <p class="">{{ 'secret-create.import.text' | translate }}</p>
  <ion-button color="tertiary" shape="round" class="ion-margin-bottom" (click)="goToImport()">
    <ion-icon slot="start" src="assets/icons/md-vertical_align_bottom.svg"></ion-icon>
    {{ 'secret-create.import.label' | translate }}
  </ion-button>

  <h4>{{ 'secret-create.social-recovery.label' | translate }}</h4>
  <p>{{ 'secret-create.social-recovery.text' | translate }}</p>
  <ion-button color="tertiary" shape="round" (click)="goToSocialRecoveryImport()">
    <ion-icon slot="start" src="assets/icons/md-people.svg"></ion-icon>
    {{ 'secret-create.social-recovery.label' | translate }}
  </ion-button>
</ion-content>
